.inputtag{
text-align: center;
}


@media(max-width:640px){
   .main{

   }
    .mainbar{
        gap: 2rem;
    }
    .logo {
        width: 75px;
    }
    
}
@media(max-width:342px){

 
     .inputtag {
        width: 72%;
        height: 29px;
    }
    .maininput {
        width: 67%;
        gap: 1rem;
    }
    .logo {
        width: 60px;
    }
    .mainbar {
        gap: 0rem;
    }
}